<!-- {{brandForm.value | json}}

<div class="alert alert-success">
    {{successMessage}}
</div> -->


<div [formGroup]="brandForm">

    <mat-form-field appearance="standard">
        <mat-label>Brand Name</mat-label>
        <input matInput placeholder="Brand Name" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
            <mat-option *ngFor="let status of statusList" [value]="status">
                {{status}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-button mat-raised-button color="primary" (click)="addBrand()"
            [disabled]="!brandForm.valid">Add</button>
        <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    </div>
</div>